@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;900&display=swap');

/* THEME */

:root {
  --font-base: 'Jost', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --primary-main: #c9d2ea;
  --primary-light: #d8e0f3;
  --primary-dark: #b9c2df;
  --primary-gradient: linear-gradient( 90deg, var(--primary-light) 0%, var(--primary-dark) 100% );
  --text-contrast-primary: #53576f;
  --secondary-main: #686c85;
  --secondary-light: #6d7191;
  --secondary-dark: #616578;
  --secondary-gradient: linear-gradient( 90deg, var(--secondary-light) 0%, var(--secondary-dark) 100% );
  --text-contrast-secondary: #ebecf1;
}

:root .light {
  --text-primary: #53576f;
  --text-secondary: #23273d;
  --background: #adb5ca;
  --paper: #b0bad1;
}

:root .dark {
  --text-primary: #e1e3ed;
  --text-secondary: #d7dcf0;
  --background: #3b4053;
  --paper: #3e4357;
}


/* RESET */
* {
  margin: 0px;
  padding: 0px;
}
*:not(pre) {
  font-family: var(--font-base);
}
html, body {
  width: 100%;
  font-size: 12pt;
  height: 100%;
}

body {
  background-color: var(--background);
  background-size: 100% 100%;
  background-attachment: fixed;
  color: var(--text-primary);
}
body.light {
  background-image: url('images/BgLight.png');
}
body.dark {
  background-image: url('images/BgDark.png');
}

*[hidden] {
  display: none !important;
}

::-moz-selection {
  color: var(--background);
  background: var(--text-primary);
}
::selection {
  color: var(--background);
  background: var(--text-primary);
}

/* button */
a {
  text-decoration: none;
}
button {
  position: relative;
  align-items: center;
  border: none;
  padding: 0.5em 1em;
  font-weight: 600;
  font-size: 1em;
  background: transparent;
  cursor: pointer;
  transition: 0.25s;
}
button::before {
  content: '';
  display: block;
  transform: skewX(-20deg);
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1pt 4pt #00000080;
  z-index: -1;
}
button.primary {
  color: var(--text-contrast-primary);
}
button.secondary {
  color: var(--text-contrast-secondary);
}
button.primary::before {
  background-image: var(--primary-gradient);
}
button.secondary::before {
  background-image: var(--secondary-gradient);
}
button:first-child {
  z-index: 1;
}
button img {
  height: 2em;
  max-width: 2.5em;
}
button:hover {
  filter: brightness(1.05);
  -webkit-filter: brightness(1.05);
  scale: 1.025;
}
button:active {
  scale: 1.025;
  filter: brightness(1.125) drop-shadow(0px 0pt 2pt rgb(161, 172, 224));
  -webkit-filter: brightness(1.125) drop-shadow(0px 0pt 2pt rgb(161, 172, 224));
}


/* Section cont */
section.cont {
  position: relative;
  min-height: calc(100% - 2em);
  max-width: 1360px;
  padding: 1em;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


/* switch-mode */
#switch-mode {
  position: absolute;
  top: 0px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25em;
  font-size: small;
  opacity: 0.75;
}
#switch-mode::before {
  opacity: 0.5;
}


/* Cover */
#cover {
  width: 33%;
  min-width: 20em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cover img {
  max-width: 25em;
  width: 100%;
}
#cover h1 {
  font-size: 4em;
}

#ocupations span {
  padding: 0.25em 0.5em;
  margin: 0.125em;
  border-radius: 2em;
  background: var(--paper);
  color: var(--text-primary);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25em;
  cursor: default;
}


/* links */
#links {
  margin: 1em 10% 1em 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.links {
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.links#common-links {
  flex-direction: row;
}

.link, .link button {
  display: flex;
}
.link {
  width: fit-content;
  align-items: stretch;
}
.link button.primary {
  width: 4em;
  justify-content: center;
}


/* links */
dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #00000080;
  width: 100%;
  height: 100%;
  border: 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transition: 0.25s; */
  transition: display 0.5s;
  transition-behavior: allow-discrete;
}
dialog[open=true] {
  animation: fadeIn 0.25s ease-in-out 0s 1 forwards;
}
dialog[open=false] {
  display: none;
  animation: fadeOut 0.25s ease-in-out 0s 1 forwards;
}

dialog .cont {
  padding: 1rem;
  box-shadow: 0px 2pt 12px -4pt #00000080;
}
body.light dialog .cont {
  background-image: url('images/BgLight.png');
}
body.dark dialog .cont {
  background-image: url('images/BgDark.png');
}

@keyframes fadeIn {
  from {opacity: 0;} to {opacity: 1;}
}
@-o-keyframes fadeIn {
  from {opacity: 0;} to {opacity: 1;}
}
@-moz-keyframes fadeIn {
  from {opacity: 0;} to {opacity: 1;}
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;} to {opacity: 0;}
}
@-o-keyframes fadeOut {
  from {opacity: 1;} to {opacity: 0;}
}
@-moz-keyframes fadeOut {
  from {opacity: 1;} to {opacity: 0;}
}
@-webkit-keyframes fadeOut {
  from {opacity: 1;} to {opacity: 0;}
}